include ../first_screen.pug
include ../answers_screen.pug
include ../services_screen.pug
include ../contacts_screen.pug



mixin faq-page
    +b.faq-page
        +first_screen
        +answers_screen
        +services_screen
        +contacts_screen

