include ../main_screen.pug
include ../choice-us_screen.pug
include ../services_screen.pug
include ../contacts_screen.pug
include ../about_screen.pug
include ../company_screen.pug
include ../cases_screen.pug
include ../reviews_screen.pug

mixin general-page
    +b.general-page
        +main_screen
        +choice-us_screen
        +services_screen
        +contacts_screen
        +about_screen
        +company_screen
        +cases_screen
        +reviews_screen
        +contacts_screen
