mixin choice-list
    +b.choice-list
        +e.item 
            +e.P.title.title_regular In business for nearly 20 years
            +e.P.desc.desc_regular Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.e
        +e.item 
            +e.P.title.title_regular In business for nearly 20 years
            +e.P.desc.desc_regular Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.e
        +e.item 
            +e.P.title.title_regular In business for nearly 20 years
            +e.P.desc.desc_regular Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.e
        +e.item 
            +e.P.title.title_regular In business for nearly 20 years
            +e.P.desc.desc_regular Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.e
        +e.item 
            +e.P.title.title_regular In business for nearly 20 years
            +e.P.desc.desc_regular Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.e