mixin clients_screen
    +b.cases.wrap
        +b.cases-content.container
            +b.cases-slider
                +e.item
                    +e.wrap
                        +e.header
                            +e.P.title.title_cases Googe top ranking Nyc Bus Chapter
                            +e.place
                                +e.P.num #1, #2
                                +e.P.city new york
                        +e.img-block
                            img(src="./img/cases-img.png", alt="alt")
                    +e.wrap
                        +e.header
                            +e.P.title.title_cases Googe top ranking Nyc Bus Chapter
                            +e.place
                                +e.P.num #1, #2
                                +e.P.city new york
                        +e.img-block
                            img(src="./img/cases-img.png", alt="alt")
                    +e.wrap
                        +e.header
                            +e.P.title.title_cases Googe top ranking Nyc Bus Chapter
                            +e.place
                                +e.P.num #1, #2
                                +e.P.city new york
                        +e.img-block
                            img(src="./img/cases-img.png", alt="alt")
                +e.item
                    +e.wrap
                        +e.header
                            +e.P.title.title_cases Googe top ranking Nyc Bus Chapter
                            +e.place
                                +e.P.num #1, #2
                                +e.P.city new york
                        +e.img-block
                            img(src="./img/cases-img.png", alt="alt")
                    +e.wrap
                        +e.header
                            +e.P.title.title_cases Googe top ranking Nyc Bus Chapter
                            +e.place
                                +e.P.num #1, #2
                                +e.P.city new york
                        +e.img-block
                            img(src="./img/cases-img.png", alt="alt")
                    +e.wrap
                        +e.header
                            +e.P.title.title_cases Googe top ranking Nyc Bus Chapter
                            +e.place
                                +e.P.num #1, #2
                                +e.P.city new york
                        +e.img-block
                            img(src="./img/cases-img.png", alt="alt")
                +e.item
                    +e.wrap
                        +e.header
                            +e.P.title.title_cases Googe top ranking Nyc Bus Chapter
                            +e.place
                                +e.P.num #1, #2
                                +e.P.city new york
                        +e.img-block
                            img(src="./img/cases-img.png", alt="alt")
                    +e.wrap
                        +e.header
                            +e.P.title.title_cases Googe top ranking Nyc Bus Chapter
                            +e.place
                                +e.P.num #1, #2
                                +e.P.city new york
                        +e.img-block
                            img(src="./img/cases-img.png", alt="alt")
                    +e.wrap
                        +e.header
                            +e.P.title.title_cases Googe top ranking Nyc Bus Chapter
                            +e.place
                                +e.P.num #1, #2
                                +e.P.city new york
                        +e.img-block
                            img(src="./img/cases-img.png", alt="alt")
               
            +b.A.btn.btn_red.btn_bold TRY NOW