mixin clients-filter

    +b.clients-filter.wrap
        +b.clients-filter-content.container
            +e.P.title LOCATION:
            +b.clients-filter-slider
                +e.item
                    a(href="#") new yourk
                +e.item
                    a(href="#") new yourk
                +e.item
                    a(href="#") new yourk
                +e.item
                    a(href="#") new yourk
                +e.item
                    a(href="#") new yourk
                +e.item
                    a(href="#") new yourk
                +e.item
                    a(href="#") new yourk
                +e.item
                    a(href="#") new yourk
                +e.item
                    a(href="#") new yourk
                +e.item
                    a(href="#") new yourk
                +e.item
                    a(href="#") new yourk