mixin company_screen
    +b.company.wrap
        +b.company-content.container_small
            +b.title-block
                +e.P.title our company
                +e.P.sub-title_small we have the best competencies in
            +b.company-info
                +b.numerals-block
                    +b.num-block
                        +e.P.num_big 5000
                        +e.P.desc satisfies customers
                    +b.num-block
                        +e.P.num 37
                        +e.P.desc representations
                    +b.num-block
                        +e.P.num 15
                        +e.P.desc specialists
                +b.main-title
                    +e.P try it now 
                    +e.P #[span and see ]
                    +e.P for yourself
                +b.A.btn.btn_red.btn_bold TRY NOW

