mixin first_screen
    +b.first.wrap
        +b.gradient
        +b.first-content.container
            +e.general-block
                +b.first-info
                    +e.A.item.phone(href="#") +380 000 000 00
                    +e.P.item.text know everything about SEO
                    +e.P.item.title Oleg Levitas
                    +e.P.item.text CEO and main guru of the company
                +b.first-title
                    +e.P PRAVDA 
                    +e.P #[span FAQ] 