mixin footer
	+b.FOOTER.footer#footer.wrap
		+b.footer-content.container_small
			+b.footer-nav
				+e.UL.seo
					li
						a(href="") Local SEO
					li
						a(href="") Local SEO
					li
						a(href="") Local SEO
					li
						a(href="") Local SEO
				+e.UL.menu
					li
						a(href="") Services
					li
						a(href="") Services
					li
						a(href="") Services
					li
						a(href="") Services
					li
						a(href="") Services
				+e.contacts
					+e.A.phone(href="#") (646) 334-3327
					+e.A.mail(href="#") info@realresultsseo.com
					+e.P.address 2749 Coney Island Ave Brooklyn, #[span NY 11235]
					+e.social-block
						+e.A.facebook(href="#") 
						+e.A.facebook(href="#")
			+b.P.copyright All Rights Reserved. web design