mixin google-business_screen
    +b.google-business.wrap
        +b.google-business-content.container
            +b.title-block
                +e.P.title google my business
                +e.P.sub-title_small we offer a unique and personalized approach to SEO
            +b.google-business-list
                +e.item
                    +e.P.title Local seo
                    +e.desc-block
                        p As technology advances, consumers rely more and more on the accessibility and ease of the online shopping experience, even for local products and services. 
                        p Our SEO experts take all necessary steps to ensure your company is not only moving up in the ranks today but is set for success with long-term results.
                +e.item
                    +e.P.title Local seo
                    +e.desc-block
                        p As technology advances, consumers rely more and more on the accessibility and ease of the online shopping experience, even for local products and services. 
                        p Our SEO experts take all necessary steps to ensure your company is not only moving up in the ranks today but is set for success with long-term results.
                +e.item
                    +e.P.title Local seo
                    +e.desc-block
                        p As technology advances, consumers rely more and more on the accessibility and ease of the online shopping experience, even for local products and services. 
                        p Our SEO experts take all necessary steps to ensure your company is not only moving up in the ranks today but is set for success with long-term results.
            +b.btn-wrap
                +b.A.btn.btn_red.btn_bold TRY NOW

