mixin header
	+b.HEADER.header.wrap
		+b.header-content.container
			+b.header-logo
				+e.IMG.img(src="./img/logo.png")
			+b.btn-group
				+b.A.btn.btn_transp.btn_narrow.btn_consult FREE CONSULTATION
				+b.A.btn.btn_transp.btn_narrow.btn_menu MENU
