mixin main_screen 
	+b.main.wrap
		+b.main-content.container
			+e.general-block
				+b.main-info
					+e.A.item.phone(href="#") +380 000 000 00
					+e.P.item.text know everything about SEO
					+e.P.item.title Oleg Levitas
					+e.P.item.text CEO and main guru of the company
				+b.main-title
					+e.P We Provide 
					+e.P #[span the Best] Top Search
					+e.P Result for Local SEO
					+b.A.btn.btn_red.btn_bold TRY NOW
			+b.main-slider
				+e.IMG.item(src="./img/slider-laptop.png")
				+e.IMG.item(src="./img/slider-laptop.png")


			