mixin need-seo_screen 
    +b.need-seo.wrap
        +b.need-seo-content.container
            +b.title-block
                +e.P.title you need seo
                +e.P.sub-title_small we have the best competencies in
            +e.list
                +e.item
                    +e.block-num
                        +e.P.num 01
                    +e.block-text
                        +e.P.title business need local seo
                        +e.P.desc Traffic directly relates to an increase in search engine rankings, and as your rank goes up, more people will be able to see and visit your website. 
                +e.item
                    +e.block-num
                        +e.P.num 01
                    +e.block-text
                        +e.P.title business need local seo
                        +e.P.desc Traffic directly relates to an increase in search engine rankings, and as your rank goes up, more people will be able to see and visit your website. 
                +e.item
                    +e.block-num
                        +e.P.num 01
                    +e.block-text
                        +e.P.title business need local seo
                        +e.P.desc Traffic directly relates to an increase in search engine rankings, and as your rank goes up, more people will be able to see and visit your website. 
                +e.item
                    +e.block-num
                        +e.P.num 01
                    +e.block-text
                        +e.P.title business need local seo
                        +e.P.desc Traffic directly relates to an increase in search engine rankings, and as your rank goes up, more people will be able to see and visit your website. 
                +e.item
                    +e.block-num
                        +e.P.num 01
                    +e.block-text
                        +e.P.title business need local seo
                        +e.P.desc Traffic directly relates to an increase in search engine rankings, and as your rank goes up, more people will be able to see and visit your website. 
                +e.item
                    +e.block-num
                        +e.P.num 01
                    +e.block-text
                        +e.P.title business need local seo
                        +e.P.desc Traffic directly relates to an increase in search engine rankings, and as your rank goes up, more people will be able to see and visit your website. 
