mixin reviews_screen
    +b.reviews.wrap
        +b.reviews-content.container_small
            +b.title-block
                +e.P.title reviews
                +e.P.sub-title_small we have the best competencies in
            +b.reviews-slider
                +e.item
                    +e.part
                        +e.header
                            +e.avatar
                                img(src="./img/avatar.png", alt="alt")
                            +e.name-block
                                +e.P.name Sophia Sarah
                                +e.P.position Manager at Roofing Contractor
                        +e.P.desc This month marks the anniversary of 2 years me and Mr Levitas are working together. On our first phone conversation, he showed an abundance of knowledge and experience. Oleg didn't even offer any services until I asked him to, but instead continuously gave me tips...
                        +e.footer
                            +e.A.more(href="#") see more
                            +e.P.date may 11, 2020
                    +e.part
                        +e.header
                            +e.avatar
                                img(src="./img/avatar.png", alt="alt")
                            +e.name-block
                                +e.P.name Sophia Sarah
                                +e.P.position Manager at Roofing Contractor
                        +e.P.desc This month marks the anniversary of 2 years me and Mr Levitas are working together. On our first phone conversation, he showed an abundance of knowledge and experience. Oleg didn't even offer any services until I asked him to, but instead continuously gave me tips...
                        +e.footer
                            +e.A.more(href="#") see more
                            +e.P.date may 11, 2020
                    +e.part
                        +e.header
                            +e.avatar
                                img(src="./img/avatar.png", alt="alt")
                            +e.name-block
                                +e.P.name Sophia Sarah
                                +e.P.position Manager at Roofing Contractor
                        +e.P.desc This month marks the anniversary of 2 years me and Mr Levitas are working together. On our first phone conversation, he showed an abundance of knowledge and experience. Oleg didn't even offer any services until I asked him to, but instead continuously gave me tips...
                        +e.footer
                            +e.A.more(href="#") see more
                            +e.P.date may 11, 2020
                +e.item
                    +e.part
                        +e.header
                            +e.avatar
                                img(src="./img/avatar.png", alt="alt")
                            +e.name-block
                                +e.P.name Sophia Sarah
                                +e.P.position Manager at Roofing Contractor
                        +e.P.desc This month marks the anniversary of 2 years me and Mr Levitas are working together. On our first phone conversation, he showed an abundance of knowledge and experience. Oleg didn't even offer any services until I asked him to, but instead continuously gave me tips...
                        +e.footer
                            +e.A.more(href="#") see more
                            +e.P.date may 11, 2020
                    +e.part
                        +e.header
                            +e.avatar
                                img(src="./img/avatar.png", alt="alt")
                            +e.name-block
                                +e.P.name Sophia Sarah
                                +e.P.position Manager at Roofing Contractor
                        +e.P.desc This month marks the anniversary of 2 years me and Mr Levitas are working together. On our first phone conversation, he showed an abundance of knowledge and experience. Oleg didn't even offer any services until I asked him to, but instead continuously gave me tips...
                        +e.footer
                            +e.A.more(href="#") see more
                            +e.P.date may 11, 2020
                    +e.part
                        +e.header
                            +e.avatar
                                img(src="./img/avatar.png", alt="alt")
                            +e.name-block
                                +e.P.name Sophia Sarah
                                +e.P.position Manager at Roofing Contractor
                        +e.P.desc This month marks the anniversary of 2 years me and Mr Levitas are working together. On our first phone conversation, he showed an abundance of knowledge and experience. Oleg didn't even offer any services until I asked him to, but instead continuously gave me tips...
                        +e.footer
                            +e.A.more(href="#") see more
                            +e.P.date may 11, 2020
            +b.A.btn.btn_red.btn_bold TRY NOW