mixin services-list-item
    +b.services-item
        +e.img-block
            +e.img-hover
            img(src="./img/list-services-img.png", alt="alt")
        +e.info
            +e.title-block
                +e.P.title.title_regular Local seo
                +e.P.sub-title.desc_regular One of the best returns on investment for local businesses...
                +e.P.date may 11, 2020
            +e.A.view view 