mixin strategy_screen 
    +b.director.wrap
        +b.director-content.container_small
            +b.title-block
                +e.P.title strategy
                +e.P.sub-title_small we have the best competencies in
            +b.director-info
                
                +e.P.text Pravda was founded by Oleg Levitas nearly 20 years ago, right when SEO was just being introduced into the marketing industry. While still studying to receive his bachelor’s degree in Marketing, Oleg worked part-time in a growing SEO company. By the time he graduated from university, his abundant experience and entrepreneurial spirit led him to open his own agency, serving clients from all industries, that flourishes to this day. 

                +e.P.text As someone who has been part of the SEO business ever since Google came into existence, Oleg’s goal is to guide businesses to dominate the market through establishing a strong online presence to meet their clients’ needs within the shortest period of time. Most of our clients get on the first page of Google results in the first 2 months of working with us. Call us today at 646-334-3327 to see if your business could move to the top of search engine results in no time.   

                +e.P.text If you are an owner of a local business that is struggling because of the coronavirus pandemic, Oleg will help with some aspects of Local SEO, including a month of working with us or a consultation, free of charge. Just reach out directly to his cellphone at 646-334-3327 and allow us to assist you in these difficult times. 
                +e.P.text Hurry and get your free consultation today at 646-334-3327!
                +e.img-block
                    img(src="./img/strategy.png", alt="alt")
                +b.A.btn.btn_red.btn_bold TRY NOW