mixin what-search_screen 
    +b.what-search.wrap
        +b.what-search-content.container
            +b.title-block
                +e.P.title strategy
                +e.P.sub-title_small we have the best competencies in
            +b.what-search-slider
                +e.item
                    +e.img-block
                        img(src="./img/strategy.png", alt="alt")
                    +e.P.title RESTAURANTS
                    +e.P.sum 5 000 000 000
                    +e.P.desc Google searchеs
